<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
      <% unless article.photo.nil? %>
      <p><img src = "<%= article.photo %>"></p>
      <% end %>
  <% end %>
</ul>