<h1>Articles</h1>
<% if @user_display == current_user %>
<%= link_to "New Article", new_article_path %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
      <% unless article.photo.nil? %>
      <p><img src = "<%= article.photo %>"></p>
      <% end %>
  <% end %>
</ul>